%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{pre_hooks, [
    %% {compile, "cargo build --manifest-path=crates/datalayers-adapter-nif/Cargo.toml --release"},
    {compile, "cargo build --release"},
    %% FIXME: alwayse copy debug version(Size 222MiB, too big)
    {compile, "sh -c \"cp $(cat ./libpath) priv/libdatalayers.so\""}
]}.

%% TODO: post hook to clean and test
%% {post_hooks, [
%%     {clean, "cargo clean"},
%%     {eunit, "cargo test"}
%% ]}.

%% {provider_hooks, [
%%     {pre, [
%%         {compile, {cargo, build}}
%%     ]},
%%     {post, [
%%         {clean, {cargo, clean}},
%%         {eunit, {cargo, test}}
%%     ]}
%% ]}.

{plugins, [
    rebar3_cargo
]}.

{project_plugins, [{erlfmt, "1.6.0"}]}.

{deps, []}.

{erlfmt, [
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "rebar.config.script"
    ]}
]}.
