%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{pre_hooks, [
    {compile, "cargo build --release"},
    {compile, "sh -c \"cp $(cat ./libpath) priv/libdatalayers_nif.so\""}
]}.

{post_hooks, [
    {clean, "cargo clean"},
    {eunit, "cargo test"}
]}.

{plugins, [
    rebar3_cargo
]}.

{project_plugins, [{erlfmt, "1.6.2"}]}.

{deps, []}.

{erlfmt, [
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "rebar.config.script"
    ]}
]}.
