%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{pre_hooks, [
    {compile, "cargo build --manifest-path=crates/datalayers-adapter-nif/Cargo.toml --release"},
    {compile, "sh -c \"cp $(cat crates/datalayers-adapter-nif/libpath) priv/libdatalayers.so\""}
]}.

{plugins, [
    rebar3_cargo
]}.

{project_plugins, [{erlfmt, "1.6.0"}]}.

{deps, []}.

{erlfmt, [
    {files, [
        "{src,include,test}/*.{hrl,erl,app.src}",
        "rebar.config",
        "rebar.config.script"
    ]}
]}.
