name: PR Entrypoint

on:
  workflow_call:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'ci/**'
  workflow_dispatch:
    inputs:
      ref:
        required: false

permissions:
  contents: read

defaults:
  run:
    shell: bash

env:
  IS_CI: "yes"


jobs:
  sanity_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Setup Erlang
        uses: erlef/setup-beam@v1
        with:
          otp-version: '27.2.3'
          rebar3-version: '3.24.0'

      # - name: Setup Rust
      #   uses: actions-rs/toolchain@v1
      #   with:
      #     toolchain: stable
      #     components: rustfmt, clippy

      - name: Check Rust format
        run: |
          cargo fmt --check 2>/dev/null

      - name: Check TOML format
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz \
            | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo
          taplo format --check --diff

      - name: Cargo Check
        run: |
          cargo check 2> /dev/null

      - name: Check Rust clippy
        run: |
          rustup toolchain list
          cargo clippy --workspace --all-targets --all-features -- -D warnings

      - name: Check Cargo-deny
        uses: EmbarkStudios/cargo-deny-action@v1
        with:
          arguments: --all-features
          command: check licenses sources bans

      - name: Check project bulid
        run: |
          rebar3 compile 2> /dev/null

  cargo_check:
    needs: sanity_check
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ github.event.inputs.ref }}

    - name: Setup Erlang
      uses: erlef/setup-beam@v1
      id: setup-beam
      with:
        otp-version: "27.2.3"

    # - name: Setup Rust
    #   uses: actions-rust-lang/setup-rust-toolchain@v1
    #   with:
    #     toolchain: stable

    - name: Cargo Test
      run: |
        cargo test

  cargo_test:
    runs-on: ubuntu-latest
    needs: sanity_check

    steps:
    - name: Checkout Code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        ref: ${{ github.event.inputs.ref }}

    - name: Cargo checks
      run: |
        cargo test

  # eunit_test:
  #   needs: sanity-check
  #   runs-on: ubuntu-latest

  #   steps:
  #   - name: Run Common Test
  #     run: |
  #       make ct
